<div class="jumbotron text-center">
  <h1> <%= @message %> </h1>
  <h3> <%= @subtitle %> </h3>
</div>

<div class="text-center">
  <%= link_to "Try again?", new_path %>
</div>

<hr />

<%= image_tag(params[:id], class: "img-responsive center-block") %>
